<nav class="navbar smart-scroll">
    <div class="logo">
        <a href="/">
            <img src="/images/pm_logo.png" alt="MyCV_logo">
            <span>MyPM</span>
        </a>
    </div>

    <ul class="nav-links nav_before-login_active" id="nav-links">
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="/forum">Diễn đàn</a></li>
        <li><a href="#">Liên hệ</a></li>
        <li>
            <div class="nav-links__buttonBox">
                <button class="btnLogin" id="btnLogin">Đăng nhập</button>
                <button class="btnRegister" id="btnRegister">Đăng kí</button>
            </div>
        </li>
    </ul>

    <ul class="nav-links nav_after-login" id="nav-links">
        <li><a href="#">Quản lý dự án</a></li>
        <li><a href="/forum">Diễn đàn</a></li>
        <li><a href="#">Liên hệ</a></li>
        
        
        <li>
            <div class="nav-links__iconBox">
                <a href="#"><i class="fas fa-comments" title="Tin nhắn"></i></a>
                <a href="#"><i class="fas fa-bell" title="Thông báo"></i></a>
            </div>
        </li>
        <li>
            <div class="seflBox">
                <div class="nav-links__seflBox">
                    <img src="images/captainamerica.jpg" class="user_avatar" alt="ảnh đại diện">
                    <span class="user_fullname">Đỗ Tấn Tĩnh</span>
                </div>

                <div class="dropdown_content">
                    <ul>
                        <li><a href="#"><i class="fas fa-address-card"></i> Hồ sơ cá nhân</a></li>
                        <li><a href="#"><i class="fas fa-wrench"></i> Cài đặt chung</a></li>
                        <li><a href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#"><i class="fas fa-sign-out-alt" title="Đăng xuất"></i></a></li>
    </ul>
    
<p>sy</p>

    <div class="toggleButton" id="toggleButton">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
